/* ==========================================================================
Staff
========================================================================== */
.ty-mainbox-title {
    margin-top: 1rem;
}
.table-wrapper {
    margin: 1rem 0;
}
.staff-table {
    width: 100% ;
    border-color: #dee2e6;
}
.staff-table tr {
    border-bottom: 1px solid #dee2e6;
}
.staff-table th {
    text-align: left;
}
.staff-table th, .staff-table td {
    padding: 1rem 0;
    width: 50%;
}
/* /Staff */